
table tr th{
    border:1px inset black;
  
}
table{
    border: 1px outset black;
    width: 45%;
    font-size: 19px;

}
th{
    height: 50px;
    text-align: center;
}
td{
    border: 1px inset black;
    height: 50px;
    padding-left: 8px;
}